.underNav{
	height: 100%;
	width: 45px;
}

.NavHome{
	position: absolute;
	z-index: 100;
	top:0;
	left:-155px;
	width: 200px;
	display: flex;
	flex-direction: column;
	transition: all 0.9s ease-out;
	&:hover{
		left: 0!important;
		transition: all 0.6s ease-out;
	}
}

.toggle
{
	user-select: none;
	transform: rotate(-90deg);
	position: absolute;
	top: 166px;
	left: 100px; // -75(midle) + 16(font) + 10(padding) 
	font-size: 16px;
	background: #62778d;
	padding: 10px;
	text-align: center;
	width: 150px;
	color: #fff;
	cursor: pointer;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	transition: all 0.6s ease;
}

.Selector {
	width: 153px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	height: 150px;
	top: 113px;
	background: #202020;
	.selectItem {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #202020;
		background-image:radial-gradient(circle at 5.98% 11.97%, #202020, transparent 100%);
		a{
			position: relative;
			text-decoration: none;
			color: aqua;
			width: 150px;
			height: 50px;
			top:23%;
			left:0;
		}
		&:hover {
			background-color: #54a4ff;
			transition:all .5s ease;
		}
	}
}