.joiner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.chanelLayoutSimu {
    height: 100%;
}

.chatBox {
    height: 80vh;
}

.chanelLayoutSimu {
    width: 20%;
}

/* Means to be the maincontent box. */
.chatBox {
    width: 70%;
}
