#chatRoomContainer {
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: row;
}

.usersListBox {
	height: 100%;
    display: flex;
    max-width: 25%;
}

.expandUL {
    height: 100%;
}

.usersListCollapse.MuiCollapse-horizontal {
    height: 100%;
}

.usersListCollapse .MuiCollapse-wrapperInner {
    width: 100%;
    max-width: 100%;
}

.usersList{
	height: 100%;
    width: 100%;
}

#chatRoom {
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 15px;
    text-align: center;
    width: 100%;
    max-height: 10%;
    white-space: nowrap;
    font-weight: normal;
}

.messageDisplay {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    overflow: auto;
}

#send {
	align-self: flex-end;
}

.MuiChip-root {
    max-width: 70%;
    height: fit-content;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MuiChip-label {
    overflow: visible;
    white-space: normal;
    width: 100%;
    word-break: break-all;
}

