.chat {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.channelList {
    height: 100%;
    width: 20%;
}

.chatBox {
    height: 100%;
    flex-grow: 10;
    width: 80%;
}
