html {
    height: 1000px;
}

body {
    background-color: #212F3D;
    height: 100%;
}

#root {
    height: 100%;
}

 .app {
 	display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
