.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.header {
    position: relative;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    /* background-image: url(../../header.png); */
    height: 10%;
    width: 100%;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5%;
    height: calc(90% - 20px);
    flex-shrink: 0;
    width: auto;
}

.maincontent {
    flex-basis: 100%;
    /* Utile? */
    flex-shrink: 1;
    height: 100%;
}

.navcontent {
    flex-basis: 10%;
    /* Utile? */
    flex-shrink: 2;
}
